/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 55px;
    font-family:Lato;
    overflow-y:scroll;
}
h2, h3 {
    font-weight:300;
}
h1 {

}
.under-nav {
    position:relative;
}

.navbar-inverse .navbar-nav > li > a {
    font-size:1.2em;
    color:white !important;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
    color: white !important;
    padding: 0 5px;
}
.page-title {
    margin:17px 2px;
}
.sidebar a, .sidebar a:visited, .sidebar a:hover {
    color:#48A3C6;
}
.sidebar-header {
    font-weight:bold;
}
#settings_nav {
    /* padding-top: 13px; */
  
    /* color: white; */
  
    /* font-size: 1.19em; */
  
    width: 125px;
  
    /* height: 55px; */
  
    cursor: pointer;
    text-align: center;
}
#logo {
  height:50px;
}
/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
    width:100%;
    padding:0;
    text-align:center;
}
/*
 * Main content
 */

.main {
    padding: 20px;
    position:absolute;
    top:0;
    margin-left:0;
    width: 100%;
}
.sidebar * {
    width:100%;
    padding:0;
}
.open {
    display:block;
      z-index: 100;
  background: #f5f5f5;
}
#settingsLink {
}
@media (min-width: 768px) {
    #settingsLink {
        display: none;
    }

    .sidebar * {
        width: initial;
        padding: initial;
    }

    .main {
        margin-left: 215px;
        width: calc(100% - 215px);
    }

    .sidebar {
        text-align: left;
        width: 215px;
        position: fixed;
        top: 55px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 0 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }

    /* Sidebar navigation */
    .nav-sidebar {
        margin-right: -21px; /* 20px padding + 1px border */
        margin-bottom: 20px;
        margin-left: -20px;
        font-size: 1.15em;
    }
}
.nav-sidebar > li > a {
    padding: 3px 20px;
    padding: 3px 20px;
}
 .nav-sidebar > li > p {
     padding:10px 20px 0 20px;
 }

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #48A3C6;
}
.navbar-nav > li, .navbar-nav > li > a {
    height: 55px;
}
.navbar-nav > li > a:hover {
    background: rgb(44, 44, 44) !important;
}


@media (min-width: 768px) {
    /*.main {*/
        /*padding-right: 40px;*/
        /*padding-left: 40px;*/
    /*}*/
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
@media (max-width:360px) {
    .navbar-brand {
        font-size:1em;
    }
}

.sliderClass {
    /*width: 600px;*/
    position:relative;
}
.sliderClass .charts-inline-block {
    width:100%;
}
.sliderClass .google-visualization-controls-slider-horizontal {
    width: calc( 100% - 170px);
}
/*#main_slider > div > div > div > div.google-visualization-controls-slider-handle {*/
    /*width:80% !important;*/
/*}*/
#main_slider {
    width: 100%;
}
.sliderClass {
    width:100%;
}

#hidden_slider {
    display:none;
}
#table_chart {
    width:100%;
}
.google-visualization-table-td,.google-visualization-table-th {
    font-family: "Lato";
}
#table_chart > div > div.top-level {
    width:100%;
}
.google-visualization-table-th {
    background: #222222 !important;
    color: white !important;
    height:40px !important;
    border:1px solid #101010 !important;
}
.google-visualization-table-page-numbers .page-number {
    display: inline-block !important;
    border-radius: 2px !important;
    font-size: .8em !important;
    line-height: .9em !important;
    min-width: 1.5em !important;
    margin: 2px .2em !important;
    padding: 10px !important;
    text-align: center !important;
    text-decoration: none !important;
    background: #222222 !important;
    color: white !important;
    border:1px solid #101010 !important;
}
.charts-custom-button-outer-box,.charts-custom-button-outer-box:hover {
    padding: 2px !important;
    background: #222222 !important;
    border:1px solid #101010 !important;
}
.charts-custom-button-hover .charts-custom-button-inner-box {
    border-color:#101010 !important;
}
.charts-custom-button-inner-box {
    border:none !important;
    border-color:#101010 !important;
}
.page-number.gradient.current {
    background: rgb(245, 136, 29) !important;
    border: 1px solid rgb(200, 129, 0) !important;
}
.google-visualization-table-div-page {
    text-align:right;
}
.google-visualization-controls-rangefilter-thumblabel {
    color:#6CBAD8 !important;
}
.google-visualization-controls-slider-horizontal {
    border: 1px solid #101010 !important;
    background-color: #48A3C6 !important;
    outline: none !important;
}
.google-visualization-controls-slider-handle {
background-color: #222222 !important;
opacity: .9 !important;
}
.google-visualization-controls-slider-thumb {
border-radius: 2px !important;
background-color: #F5881D !important;
border: 1px solid #CF7F30 !important;
}
.google-visualization-table-tr-sel {
    background-color: #FFE1C3 !important;
}

.google-visualization-table-tr-over {
    background-color: rgb(235, 248, 253) !important;
}
.google-visualization-table-th.gradient.sort-ascending, .google-visualization-table-th.gradient.sort-descending {
    width:120px !important;
}

#bodyTitle {
    margin-top:0;
    z-index:1;
    position:relative;
    float:left;
    display:inline-block;
}
#formClustering {
    display: inline-block;
    float: left;
      width: 50%;
  padding-right: 8%;
}
#aboutClustering {
      display: inline-block;
  width: 50%;
  background: rgb(250, 250, 250);
  padding: 30px;
  border-radius: 4px;
}
#searchTable {
    margin-bottom: 10px;
}
#piechart_3d {
        width:30%;
        height: 300px;
        z-index:-1;
        display:inline-block;
}
#line_chart {
    width:100%;
    margin-left:-5%;

}
#general_line_chart {
    width:93%;
}
.spikeGraph {
    width:55%;
}
#hoverDropDown {
    display:none;
    top: 53px;
  right: 8px;
  position: fixed;
  z-index: 2;
  list-style: none;
  
    background: #9d9d9d;
  
    /* border-radius: 3px; */
  
    /* border: #111111; */
  
    font-size: 1em;
    overflow:hidden;
}
#hoverDropDown li {
    cursor:pointer;
}
.drop > li > a {
    background-color: rgb(44, 44, 44);
    color:white;
}
.drop > li > a:hover {
    background-color:#202020;
}
#editClusterLine {
    padding:3px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color:inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  background: #F5881D;
  border: 0;
  border-bottom: 3px solid #D87717;
  border-radius: 2px;
  color: #fff;
  padding: 5px 20px;
  margin: 1px;
}
.line_obj {
    display:inline-block;
}
.line_obj:first-child {
    padding-right:10px;
}
.line {
    margin:10px  0;
}
.line p,#info_list p {
    margin:0;
}
.line_obj select {
    background:#fff;
    -webkit-appearance: menulist-button;
   height: 25px;
}
#info_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#stop_words {
    height:150px;
    width:100%;
    overflow-y:scroll;
    margin-bottom:10px;
}
#stop_words #id_word {
    list-style:none;
    padding:0;
}
label {
    font-weight:normal;
}
#runClustering {
    border-bottom: 1px solid#E8E8E8;
}
#info_list li p:first-child {
    font-size:1.1em;
}
#info_list li p:last-child {
    color:rgb(89, 88, 88);
}
#runDeets {
    float:left;
    width:100%;
}
#top {
      display: inline-block;
  padding-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
}
@media (min-width: 768px) {
    .navbar-right {
        margin-right: 9px !important;
    }
}
.focus_link {
      background: rgb(44, 44, 44) !important;
}
#hoverDropDown li a:hover {
    background-color: rgb(49, 49, 49);
}
#sentiment_pie {
    display:inline-block;
    width: 30%;
    margin-left: -7em;
}
#sentiment_pie h2 {
    margin:0;
}
#distribution_pie {
    width: 70%;
    position:relative;
    float:left;
    overflow:hidden;
    display:inline-block;
    height:500px;

}
#general_piechart_3d {
    width:100%;
    height:100%;
    margin-top:-30px;
}
#cluster_volume {
    display:inline-block;
    position:relative;
    z-index:1;
    margin-top:-110px;
    width:100%;
}
#left {
    float:left;
    display:inline-block;
    width:70%;
}
#sentiment_bar_wrap {
    width:60%;
    display:inline-block;
    margin-top:-20px;
    height:100px;
}
#sentiment_bar_wrap h3 {
    margin: 0;
  z-index: 1;
  padding-left: 57px;
  position: relative;
  font-size: 1.5em;
}
#sentiment_barchart {
    margin-top: 6em;
  position: relative;
}
#dashboard {
    width:100%;
}