/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 55px;
    font-family:Lato;
    overflow-y:scroll;
}
.under-nav {
    position:relative;
}

.navbar-inverse .navbar-nav > li > a {
    font-size:1.2em;
    color:white !important;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
    color: white !important;
    padding: 0 5px;
}
.page-title {
    margin:17px 2px;
}
.sidebar a, .sidebar a:visited, .sidebar a:hover {
    color:#48A3C6;
}
.sidebar-header {
    font-weight:bold;
}
#settings {
    padding-right:30px;
}
#logo {
  height:50px;
}
/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
    width:100%;
    padding:0;
    text-align:center;
}
.sidebar * {
    width:100%;
    padding:0;
}
.open {
    display:block;
}
#settingsLink {
}
@media (min-width: 768px) {
    #settingsLink {
        display:none;
    }
    .sidebar * {
        width:initial;
        padding:initial;
    }
    .sidebar {
        text-align:left;
        width:215px;
        position: fixed;
        top: 55px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 0 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
    /* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
    font-size: 1.15em;
}
}

@media (min-width: 992px) {
    .col-md-offset-2 {
    margin-left: 18.666667%;
    }
    .col-md-10 {
    width: 81.333333%;
    }
}

.nav-sidebar > li > a {
    padding: 3px 20px;
    padding: 3px 20px;
}
 .nav-sidebar > li > p {
     padding:10px 20px 0 20px;
 }

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #48A3C6;
}
.navbar-nav > li, .navbar-nav > li > a {
    height: 55px;
}
.navbar-nav > li > a:hover {
    background: rgb(44, 44, 44) !important;
}
/*
 * Main content
 */

.main {
    padding: 20px;
    position:absolute;
    top:0;
}

@media (min-width: 768px) {
    /*.main {*/
        /*padding-right: 40px;*/
        /*padding-left: 40px;*/
    /*}*/
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
@media (max-width:360px) {
    .navbar-brand {
        font-size:1em;
    }
}

.sliderClass {
    width: 600px;
    position:relative;
}
.sliderClass .google-visualization-controls-slider-horizontal {
    width:400px;
}
#main_slider > div > div > div > div.google-visualization-controls-slider-handle {
    width:100%;
}
#hidden_slider {
    display:none;
}
#table_chart {
    width:100%;
}
.google-visualization-table-td,.google-visualization-table-th {
    font-family: "Lato";
}
#table_chart > div > div.top-level {
    width:100%;
}
.google-visualization-table-th {
    background: #222222 !important;
    color: white !important;
    height:40px !important;
    border:1px solid #101010 !important;
}
.google-visualization-table-page-numbers .page-number {
    display: inline-block !important;
    border-radius: 2px !important;
    font-size: .8em !important;
    line-height: .9em !important;
    min-width: 1.5em !important;
    margin: 2px .2em !important;
    padding: 10px !important;
    text-align: center !important;
    text-decoration: none !important;
    background: #222222 !important;
    color: white !important;
    border:1px solid #101010 !important;
}
.charts-custom-button-outer-box,.charts-custom-button-outer-box:hover {
    padding: 2px !important;
    background: #222222 !important;
    border:1px solid #101010 !important;
}
.charts-custom-button-hover .charts-custom-button-inner-box {
    border-color:#101010 !important;
}
.charts-custom-button-inner-box {
    border:none !important;
    border-color:#101010 !important;
}
.page-number.gradient.current {
    background: rgb(245, 136, 29) !important;
    border: 1px solid rgb(200, 129, 0) !important;
}
.google-visualization-table-div-page {
    text-align:right;
}
.google-visualization-controls-rangefilter-thumblabel {
    color:#6CBAD8 !important;
}
.google-visualization-controls-slider-horizontal {
    border: 1px solid #101010 !important;
    background-color: #48A3C6 !important;
    outline: none !important;
}
.google-visualization-controls-slider-handle {
background-color: #222222 !important;
opacity: .9 !important;
}
.google-visualization-controls-slider-thumb {
border-radius: 2px !important;
background-color: #F5881D !important;
border: 1px solid #CF7F30 !important;
}
.google-visualization-table-tr-sel {
    background-color: #FFE1C3 !important;
}

.google-visualization-table-tr-over {
    background-color: rgb(235, 248, 253) !important;
}
.google-visualization-table-th.gradient.sort-ascending, .google-visualization-table-th.gradient.sort-descending {
    width:120px !important;
}

#bodyTitle {
    margin-top:0;
    margin-bottom: 25px;
    z-index:1;
    position:relative;
}
#formClustering {
    display: inline-block;
    float: left;
    margin-right: 18%;
}
#aboutClustering {
    display: inline-block;
    width: 50%;
    height: 400px;
    background: rgb(245, 245, 245);
    padding:30px;
}
#searchTable {
    margin-bottom: 10px;
}
#piechart_3d {
        width:40%;
        height: 300px; margin-top:-60px; z-index:-1;
    float:right;
}
#line_chart {
    width:70%;
    margin-left:-5%;

}
#general_line_chart {
    width:93%;
}
.spikeGraph {
    width:55%;
}
