<!DOCTYPE html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/general_analytics.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <title>Sift</title>
    <script src="{% static 'js/jquery-2.1.3.js' %}"></script>
    <script src="{% static 'js/Chart.js' %}"></script>
    <script src="{% static 'js/graphing.js' %}"></script>
    <script src="{% static 'js/hovernav.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.load('visualization', '1', {'packages':['annotationchart']});
        $(document).ready(function() {
            $(".navbar-toggle").click(function(){
               $(".sidebar").toggleClass("open");
            });
            $(window).resize(function(){
               if($(window).width()>=768) {
                   $(".sidebar").show();
               }
            });

        });
    </script>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'general:general' %}">
            <img id="logo" alt="sift-logo" height="50" width="85" src="{% static 'img/sift-logo.png' %}">
          </a>
            <h2 class="navbar-brand page-title">
                {{ headline }}
            </h2>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
{#              <li class="nav-option" id="generalNav"><a href="{% url 'general:general' %}">General Analytics</a></li>#}
{#              <li class="nav-option" id="clusteringNav"><a href="{% url 'general:clustering' %}">Clustering</a></li>#}
            <div id="settings">
                <i class="fa fa-gear"></i> Settings
            </div>
            <ul id="hoverDropDown" class="nav drop">
          <li><a href="{% url 'general:clusters' %}"><i class="fa fa-bar-chart"></i> Clusters</a></li>
          <li><a  href="{% url 'general:clustering' %}"><i class="fa fa-refresh"></i> Clustering</a></li>
          <li><a href="{% url 'general:notifications' %}"><i class="fa fa-bell-o"></i> Notifications</a></li>
    </ul>

          </ul>
        </div>
    </nav>

    <div class="container-fluid">
      <div class="row under-nav">
        {% block sidebar %}
        {% endblock %}
      <div class="main">
          {% block body_block %}
            {% endblock %}

        </div>

      </div>
    </div>
<div>
</div>
</body>
</html>