<!DOCTYPE html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/general_analytics.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <title>Sift</title>
    <script src="{% static 'js/jquery-2.1.3.js' %}"></script>
    <script src="{% static 'js/Chart.js' %}"></script>
    <script src="{% static 'js/graphing.js' %}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.load('visualization', '1', {'packages':['annotationchart']});
        $(document).ready(function() {
            $(".navbar-toggle").click(function(){
               $(".sidebar").toggleClass("open");
            });
            $(window).resize(function(){
               if($(window).width()>=768) {
                   $(".sidebar").show();
               }
            });

        });
    </script>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'general:general' %}">
            <img id="logo" alt="sift-logo" height="50" width="85" src="{% static 'img/sift-logo.png' %}">
          </a>
            <h2 class="navbar-brand page-title">
                {{ headline }}
            </h2>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li class="nav-option" id="generalNav"><a href="{% url 'general:general' %}">General Analytics</a></li>
              <li class="nav-option" id="clusteringNav"><a href="{% url 'general:clustering' %}">Clustering</a></li>
            <li><a id="settings" href="{% url 'general:settings' %}">
                <img src="{% static 'img/settings.png' %}">
            </a></li>
          </ul>

        </div>



    </nav>

    <div class="container-fluid">
      <div class="row under-nav">
        {% block sidebar %}
        {% endblock %}
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block body_block %}
            {% endblock %}

        </div>

      </div>
    </div>
<div>
</div>
</body>
</html>