{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
    $(document).ready(function(){
        $("#clusteringNav").hide();


        $( "input[type=checkbox]" ).on( "click", function() {
            $("."+this.className).prop('checked', $(this).prop("checked"));
        } );
    });
    </script>
    <link rel="stylesheet" href="{% static 'css/cluster.css' %}">
{% endblock %}
{% block body_block %}
<h1>Clusters</h1>
<p>Edit cluster names and add features to list of stopwords</p>
<form method="POST">
{% csrf_token %}
<div id="editcluster_wrap">
{% for clusterName, clusterWords in top_words %}
    <div class="editcluster">
        <h3>{{ clusterName.0 }}</h3>
        <input placeholder="Edit Name" type="text" name="{{ clusterName.1 }}">
        {% for feature in clusterWords %}
                <p><input class="_{{ feature.0 }}" type="checkbox" name="{{ feature.0 }}">
                <b>{{ feature.0 }}:</b> {{ feature.1 }}</p>

    {% endfor %}
    </div>
{% endfor %}
</div>
<input type="submit">
    </form>
{% endblock %}