{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
    $(document).ready(function(){
        $("#clusteringNav").hide();
    });
    console.log({{ top_words }})
    </script>
    <link rel="stylesheet" href="{% static 'css/cluster.css' %}">
{% endblock %}
{#{% block sidebar %}#}
{#    {% include 'sidebar.html' %}#}
{#{% endblock %}#}
{% block body_block %}
<h1>Clusters</h1>
<form method="POST">
{% csrf_token %}
{% for cluster in clusters %}
     <div id="editClusterLine">
     <input type="text" name="{{ cluster.clusterid }}" value="{{ cluster.name }}">
     </div>
     {% endfor %}
     <input type="submit">
     </form>
{% endblock %}
