{% extends 'base.html' %}
{% load static %}
{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/draw_all_dashboards.js' %}"></script>
{% endblock %}
{% block body_block %}
    <h1 id="bodyTitle">{{ cluster.name }}</h1>
    <div id="dashboard">
        <div id="main_slider"></div>
        <div id="hidden_slider"></div> <!--this is hidden from page-->
        <div id="line_chart"></div>
        <div id="searchTable"></div>
        <div id="table_chart"></div>
    </div>
    {% autoescape off %}
        <script>
        $(document).ready(function() {
             var title = "Date";
             var width = "150px !important";
             $('.google-visualization-table-th:contains(' + title + ')').css('width', width);
        });
        var url = window.location;
// Will only work if string in href matches with location
$('ul.nav a[href="'+ url +'"]').parent().addClass('active');

// Will also work for relative and absolute hrefs
$('ul.nav a').filter(function() {
    return this.href == url;
}).parent().addClass('active');
            //Call Graphing Functions
            google.load('visualization', '1', {packages: ['controls']});
            google.setOnLoadCallback(draw_all_dashboards({{ cluster_posts }}));
        </script>
    {% endautoescape %}

{% endblock %}