{% extends 'base.html' %}
{% load staticfiles %}

{% block sidebar %}
    {% static 'sidebar.html' %}
{% endblock %}

{% block body_block %}
<div id="piechart_3d" style="width: 100%; height: 500px;"></div>

    <script>
    //Call Graphing Functions
    $(document).ready(function() {
        {% autoescape off %}
            drawGooglePieChart({{ pieData }});
        {% endautoescape %}
    });
    //this allows for responsive design
    $(window).resize(function(){
        {% autoescape off %}
            drawGooglePieChart({{ pieData }});
        {% endautoescape %}
    });
        //console.log({{ pieData }});
    </script>
{% endblock %}
