{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <script>

    $(document).ready(function(){
        $("#generalNav").hide();
    });

    </script>
{% endblock %}
{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block body_block %}
<h1 id="bodyTitle">Forum Posts Distribution</h1>
<div id="piechart_3d" style="width: 100%; height: 500px; margin-top:-60px; z-index:-1;"></div>
<div id="linechart" style="overflow-x: scroll; height: 650px;"></div>

    <script>
    //Call Graphing Functions
    $(document).ready(function() {
        {% autoescape off %}
            drawGeneralPieChart({{ pieData }});
            drawGeneralLineChart({{ lineData }}, {{ lineDates }}, {{ lineClusterNames }});
        {% endautoescape %}
    });
    //this allows for responsive design
    $(window).resize(function(){
        {% autoescape off %}
            drawGeneralPieChart({{ pieData }});
            drawGeneralLineChart({{ lineData }}, {{ lineDates }}, {{ lineClusterNames }});
        {% endautoescape %}
    });
        console.log({{ lineData }});
    </script>
{% endblock %}
