{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <script>

    $(document).ready(function(){
        $("#generalNav").hide();
    });

    </script>
{% endblock %}
{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block body_block %}
<div id="distribution_pie">
    <h2 id="bodyTitle">Forum Posts Distribution</h2>
    <div id="general_piechart_3d"></div>
</div>
<div id="sentiment_pie">
    <h2 id="bodyTitle">Overall Sentiment</h2>
    <div id="sentiment_barchart"></div>
</div>
<div id="cluster_volume">
<h2>Cluster Volume</h2>
<div id="general_line_chart" style="overflow-y: hidden; height: 550px;"></div>
</div>


    <script>
    //Call Graphing Functions
    $(document).ready(function() {
        {% autoescape off %}
            drawGeneralPieChart({{ pieData }});
            drawSentimentChart({{ sentimentData }});
            drawGeneralLineChart({{ lineData }}, {{ lineDates }}, {{ lineClusterNames }});
        {% endautoescape %}
    });
    //this allows for responsive design
    $(window).resize(function(){
        {% autoescape off %}
            drawGeneralPieChart({{ pieData }});
            drawSentimentChart({{ sentimentData }});
            drawGeneralLineChart({{ lineData }}, {{ lineDates }}, {{ lineClusterNames }});
        {% endautoescape %}
    });
    </script>
{% endblock %}
